<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#000000">
        <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
        <link href="{{ url_for('static',filename='css/custom.css') }}" rel="stylesheet" type="text/css" />
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

        <title>Country Flags Shoes Store - Account details</title>
    </head>
    <body>
    <header>
        <nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-sm box-shadow">
          <a href="/" class="navbar-brand d-flex align-items-center">
              <strong><i class="far fa-futbol"></i> Country Flags Shoes Store</strong>
          </a>
        </nav>

    </header><br />
    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div>
                        <center>
                        <table>
                          <tr>
                            <td>Email:</td>
                            <td id="email"></td>
                          </tr>
                          <tr>
                            <td>First Name:</td>
                            <td id="fname"></td>
                          </tr>
                          <tr>
                            <td>Last Name:</td>
                            <td id="lname"></td>
                          </tr>
                          <tr>
                            <td>Username:</td>
                            <td id="username"></td>
                          </tr>
                        </table>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <script>
            async function getDetails(){
                let token = getCookie('session');
                console.log('{{token}}')
                let response = await fetch('http://localhost:90/webapi/getdetails/{{token}}', {method: 'GET', credentials:'include'});
                let data = await response.json()
                document.getElementById('email').innerHTML = data[0].email;
                document.getElementById('fname').innerHTML = data[0].fname;
                document.getElementById('lname').innerHTML = data[0].lname;
                document.getElementById('username').innerHTML = data[0].username;
                return data
            }
            getDetails().then(response=>{
                console.log('hi')
                console.log(response)
            })

            function getCookie(name) {
                var cookieArr = document.cookie.split(";");
                console.log(cookieArr);
                for(var i = 0; i < cookieArr.length; i++) {
                    var cookiePair = cookieArr[i].split("=");

                    if(name == cookiePair[0].trim()) {
                    return decodeURIComponent(cookiePair[1]);
                    }
                }
                return null;
            }

        </script>
    </main>

    </body>
</html>
